@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*header y nav*/
// variables
$header-bg-color: #401639;
$header-height: 15%;
$header-box-shadow: 0 7px 8px -3px grey;
$header-z-index: 99;
$navbar-padding: 0;
$sticky-top-height: 90px;
$navbar-link-font-size: 16px;
$navbar-link-padding: 0 3px 0 0;
$navbar-link-margin-left: 15px;
$navbar-link-color: #fff;
$navbar-link-hover-color: #7f2770;
$icons-link-color: #fff;
$icons-link-font-size: 15px;
$icons-link-margin-right: 10px;
$fa-bars-font-size: 30px;
$fa-bars-color: #fff;
$fa-bars-border-radius: 0.5rem;
$fa-bars-padding: 0.5rem 1rem;
$fa-bars-border: solid rgba(255, 255, 255, 0.3);
$fa-bars-display: none;

header {
    background-color: $header-bg-color;
    height: $header-height;
    box-shadow: $header-box-shadow;
    position: fixed;
    width: 100%;
    z-index: $header-z-index;

    .navbar {
        padding: $navbar-padding;

        a {
            font-size: $navbar-link-font-size;
            padding: $navbar-link-padding;
            margin: 0 0 0 $navbar-link-margin-left;
            color: $navbar-link-color;
            text-decoration: none;
            display: inline-block;

            &:hover {
                color: $navbar-link-hover-color;
            }
        }
    }

    .sticky-top {
        height: $sticky-top-height;
    }

    .icons {
        a {
            color: $icons-link-color;
            text-decoration: none;
            font-size: $icons-link-font-size;
            margin-right: $icons-link-margin-right;
        }
    }

    .fa-bars {
        font-size: $fa-bars-font-size;
        color: $fa-bars-color;
        border-radius: $fa-bars-border-radius;
        padding: $fa-bars-padding;
        cursor: pointer;
        border: $fa-bars-border;
        display: $fa-bars-display;
    }
}

/* menu desplegable */
// variables  
$max-width-container: 1200px;
$color-white: #fff;
$color-dropdown-bg-hover: #57184b;
$border-radius-dropdown: 4px;
$font-family-system: system-ui;
$font-weight-bold: 700;
$font-weight-normal: 400;
$line-height-p: 18px;
$position-p-top: -24px;
$position-p-right: -8px;
$padding-p: 1px 6px;
$width-dropdown-content: 188px;

.container {
    max-width: $max-width-container;
    text-align: center;
    margin: auto;
}

.header-section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;

    div {
        position: relative;
    }

    p {
        position: absolute;
        top: $position-p-top;
        right: $position-p-right;
        background-color: $color-white;
        padding: $padding-p;
        border-radius: 50%;
        font-weight: $font-weight-bold;
        font-family: $font-family-system;
        line-height: $line-height-p;
    }
}

.desplegable {
    display: inline-block;
    position: relative;

    &:hover {
        .desplegable-contenido {
            display: block;
        }
    }

    .desplegable-contenido {
        display: none;
        position: absolute;
        width: $width-dropdown-content;
        overflow: auto;
        border-radius: 0 0 $border-radius-dropdown $border-radius-dropdown;
        font-weight: $font-weight-normal;
        background-color: $header-bg-color;
        text-align: left;

        a {
            display: block;
            color: $color-white;
            text-decoration: none;
            margin: 10px 0;

            &:hover {
                color: $color-white;
                background-color: $color-dropdown-bg-hover;
                width: 100%;
            }
        }
    }
}

/*img logo del menú*/
header img {
    width: 80px;
    margin: -3px 0 0 0;
}

/* menu desplegable (dropdown) */
#menu-desplegable-hamburguesa {
    display: none;
}

.navbar-nav {
    .nav-link {

        &.active,
        &.show {
            color: #fff;
        }
    }
}


/*títulos de las páginas*/
.subtitulo {
    .section-titulo {
        font-weight: 600;
        text-align: center;
        margin: 20px 0 30px 0;
    }
}

/*cards de pages2*/
// variables
$primary-color: #401639;
$text-color: #333;
$white: #fff;
$black: #000;
$shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts {
    max-width: 250px;
    box-shadow: $shadow;
    padding-bottom: 34px;
    margin-bottom: 40px;

    img {
        width: 100%;
    }

    p {
        font-family: system-ui;
        font-weight: 700;
        padding: 0 20px;
        margin-bottom: 24px;
    }

    div {
        position: relative;

        p {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $primary-color;
            color: $white;
            padding: 2px 7px 4px 21px;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        }
    }

    a {
        margin: 0 auto;
        text-decoration: none;
        font-weight: 500;
        display: block;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        width: 70%;
        background: $white;
        font-size: 13px;
        color: $text-color;
        border: solid 2px $text-color;
        transition-duration: 0.3s;

        &:hover {
            background: $black;
            color: $white;
            border: solid 2px $black;
        }
    }
}


/*botones*/
// variables
$primary-color: #401639;
$hover-color: #a02f8d;
$black: #000;
$white: #fff;

p.close-btn {
    margin: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: $primary-color;

    &:hover {
        color: $hover-color;
    }
}

p.author {
    display: flex;
    justify-content: center;
    font-variant: JIS04;
    margin-top: 3%;
    gap: 7px;

    a {
        text-decoration: none;
        font-weight: 700;
        color: $black;
    }
}

.botones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btn-pagar {
    font-weight: 600;
    font-size: 19px;
    color: $black;
    transition-duration: 0.3s;

    &:hover {
        background: $black;
        color: $white;
        border: solid 2px $black;
        transition-duration: 0.3s;
    }
}

/*footer*/

// variables
$footer-bg: #401639;
$footer-text: #fff;
$footer-light-text: #efefef;
$footer-link-color: #bbb;
$footer-hover: #666;
$footer-social-bg: #131c257e;

.pie-pagina {
    width: 100%;
    background-color: $footer-bg;
    position: absolute;

    .grupo-1 {
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px 0 0 25px;

        .box1 {
            height: 100%;
            display: block;

            h2 {
                color: $footer-text;
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 500;
            }

            p {
                color: $footer-light-text;
            }
        }

        .box {
            .figure {
                iframe {
                    width: 40%;
                }
            }
        }
    }

    .grupo-2 {
        padding: 15px 10px;
        text-align: center;
        color: $footer-text;
        font-size: 15px;

        .red-social {
            a {
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: $footer-text;
                margin-right: 10px;
                background-color: $footer-social-bg;
                text-align: center;
                margin: 0 10px 15px 0;
                transition: all 300ms ease;

                &:hover {
                    color: $footer-hover;
                }
            }
        }
    }
}

.lista-ayuda {
    li {
        a {
            font-size: 18px;
            text-decoration: none;
            color: $footer-link-color;
            display: block;
            margin: 0 25px 0 0;
            transition: all 0.3s ease;
            justify-content: center;
        }
    }
}

.caja-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*página inicio y productos*/
// variables
$color-negro: #000;
$color-gris: #666;
$color-blanco: #fff;
$bg-boton-default: $color-gris;
$bg-boton-item: $color-negro;
$img-fondo-height: 350px;
$titulo-inicio-font-size: 40px;
$titulo-inicio-margin: -240px 0 210px 0;
$contenedor-items-gap: 60px;
$contenedor-items-row-gap: 30px;
$contenedor-items-margin-top: 20px;
$contenedor-items-margin-bottom: 50px;
$item-width: 250px;
$item-padding: 10px;
$item-border-radius: 10px;
$item-box-shadow-hover: 0 0 10px $color-gris;
$item-scale-hover: 1.05;
$precio-item-font-size: 22px;
$boton-width: 90px;
$boton-padding: 5px 15px;
$boton-border-radius: 5px;
$item-img-width: 200px;
$item-img-margin: 10px 0 10px 15px;
$cajas-grid-columns: repeat(2, 1fr);
$cajas-margin-bottom: 70px;
$caja-nosotros1-width: 500px;
$caja-nosotros1-margin-left: 40px;
$caja-nosotros1-font-size-h2: 20px;
$caja-nosotros1-font-size-p: 18px;
$caja-nosotros2-img-width: 80%;
$caja-nosotros2-img-height: 70%;
$caja-nosotros2-img-border-radius: 10px;

.img-fondo {
    img {
        width: 100%;
        height: $img-fondo-height;
    }
}

.titulo-inicio {
    h1 {
        font-size: $titulo-inicio-font-size;
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        margin: $titulo-inicio-margin;
        color: $color-negro;
    }
}

.contenedor {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    contain: paint;

    .contenedor-items {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap: $contenedor-items-gap;
        grid-row-gap: $contenedor-items-row-gap;
        transition: 0.3s;
        margin-bottom: $contenedor-items-margin-bottom;
        margin-top: $contenedor-items-margin-top;

        .item {
            width: $item-width;
            padding: $item-padding;
            margin: auto;
            border: 2px solid $color-gris;
            border-radius: $item-border-radius;
            transition: 0.3s;

            &:hover {
                box-shadow: $item-box-shadow-hover;
                transform: scale($item-scale-hover);
            }

            .titulo-item {
                display: block;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
            }

            .precio-item {
                display: block;
                text-align: center;
                font-weight: bold;
                font-size: $precio-item-font-size;
            }

            .boton {
                display: block;
                margin: 10px auto;
                border: none;
                background: $bg-boton-default;
                color: $color-blanco;
                width: $boton-width;
                padding: $boton-padding;
                border-radius: $boton-border-radius;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
            }

            .boton-item {
                display: block;
                margin: 10px auto;
                border: none;
                background: $bg-boton-item;
                color: $color-blanco;
                padding: $boton-padding;
                border-radius: $boton-border-radius;
                cursor: pointer;
            }

            img {
                width: $item-img-width;
                margin: $item-img-margin;
            }
        }
    }
}

.cajas {
    display: grid;
    grid-template-columns: $cajas-grid-columns;
    margin-bottom: $cajas-margin-bottom;

    .caja-nosotros1 {
        background-color: $color-blanco;
        width: $caja-nosotros1-width;
        margin-left: $caja-nosotros1-margin-left;

        h2 {
            font-size: $caja-nosotros1-font-size-h2;
            font-weight: bold;
        }

        p {
            font-size: $caja-nosotros1-font-size-p;
        }
    }

    .caja-nosotros2 {
        background-color: $color-blanco;

        img {
            width: $caja-nosotros2-img-width;
            height: $caja-nosotros2-img-height;
            border-radius: $caja-nosotros2-img-border-radius;
        }
    }
}

/*página conocenos*/
// variables
$cajas-grid-columns: repeat(2, 1fr);
$cajas-margin-bottom: 70px;
$caja-bg-color: #fff;
$caja-nosotros1-width: 500px;
$caja-nosotros1-margin-left: 40px;
$caja-nosotros1-h2-font-size: 20px;
$caja-nosotros1-p-font-size: 18px;
$caja-nosotros2-img-width: 80%;
$caja-nosotros2-img-height: 70%;
$caja-nosotros2-img-border-radius: 10px;

.cajas {
    display: grid;
    grid-template-columns: $cajas-grid-columns;
    margin-bottom: $cajas-margin-bottom;

    .caja-nosotros1 {
        background-color: $caja-bg-color;
        width: $caja-nosotros1-width;
        margin-left: $caja-nosotros1-margin-left;

        h2 {
            font-size: $caja-nosotros1-h2-font-size;
            font-weight: bold;
        }

        p {
            font-size: $caja-nosotros1-p-font-size;
        }
    }

    .caja-nosotros2 {
        background-color: $caja-bg-color;

        img {
            width: $caja-nosotros2-img-width;
            height: $caja-nosotros2-img-height;
            border-radius: $caja-nosotros2-img-border-radius;
        }
    }
}

/*página métodos*/
// variables
$color-fondo-como-comprar: #1a1a1a;
$color-texto-claro: #f6f6f6;
$color-hover-subtitulo: #57184b;
$h3-font-size: 1.5rem;
$h3-font-weight: 600;
$h3-margin-bottom: 16px;
$texto-font-size: 0.875rem;
$subtitulo-font-size: 1rem;

.como-comprar-container {
    background-color: $color-fondo-como-comprar;
    color: $color-texto-claro;

    img {
        width: 70px;
        margin: 26px;
    }

    h3 {
        font-size: $h3-font-size;
        font-weight: $h3-font-weight;
        text-align: center;
        margin-bottom: $h3-margin-bottom;
    }

    .como-comprar-texto {
        font-size: $texto-font-size;
        color: $color-texto-claro;
    }

    .como-comprar-texto-subtitulos {
        font-size: $subtitulo-font-size;
        color: $color-texto-claro;

        a & {
            transition: color 0.3s ease;

            &:hover {
                color: $color-hover-subtitulo;
            }
        }
    }
}

/*página contacto*/
// variables
$color-principal: #1a1a1a;
$color-hover: #57184b;
$font-size-subtitulo: 1.2rem;
$font-weight-subtitulo: 500;
$icon-size: 2rem;

.subtitulo-contacto {
    font-size: $font-size-subtitulo;
    font-weight: $font-weight-subtitulo;
    text-align: center;
    margin-bottom: 40px;
}

.red-social-contacto {
    margin-bottom: 40px;

    i {
        font-size: $icon-size;
        text-align: center;
        transition: color 0.3s ease;
        color: $color-principal;

        &:hover {
            color: $color-hover;
        }
    }

    figcaption {
        font-size: $font-size-subtitulo;
        font-weight: $font-weight-subtitulo;
        color: $color-principal;
        transition: color 0.3s ease;
        text-decoration: none;

        &:hover {
            color: $color-hover;
        }
    }
}

.justify-content-center {
    text-decoration: none;
}

/* formulario */
// variables
$color-borde-input: #b7b7b7;
$color-fondo-btn: #1a1a1a;
$color-texto-claro: #f6f6f6;
$color-hover-btn: #57184b;

$font-weight-medio: 500;
$radio-borde: 10px;
$padding-btn: 8px;
$font-size-btn: 1rem;

form {
    .form-control-sm {
        padding: 10px;
        border: 1px solid $color-borde-input;
        font-weight: $font-weight-medio;
    }

    .text-area {
        resize: none;
        height: 150px;
    }

    .btn-form {
        padding: $padding-btn;
        background-color: $color-fondo-btn;
        color: $color-texto-claro;
        border: none;
        border-radius: $radio-borde;
        font-size: $font-size-btn;
        font-weight: $font-weight-medio;
        transition: color 0.3s ease;

        &:hover {
            background-image: linear-gradient(to bottom, $color-hover-btn, $color-hover-btn);
            color: #fff;
            transition: 0.3s ease;
        }
    }
}

/* media queries*/
// variables
$color-header: #401639;
$color-secundario: #57184b;
$color-texto-blanco: #fff;

@media screen and (max-width: 991.5px) {

    /* menú hamburguesa (responsive) */
    header {
        .navbar a {
            padding: 10px;
        }

        &.sticky-top {
            height: 100%;
        }

        img {
            width: 100px;
        }
    }

    .container {
        background-color: $color-header;
    }

    button.navbar-toggler,
    button.navbar-toggler.collapsed {
        background-color: $color-secundario;
        border-radius: 2px;
        color: $color-secundario;
    }

    /* Catálogo: menú desplegable (hover) */
    #menu-desplegable-hover {
        display: none;

        .desplegable,
        .desplegable .desplegable-contenido {
            display: none;
        }
    }

    /* Catálogo: menú desplegable (dropdown) */
    #menu-desplegable-hamburguesa {
        display: block;

        .dropdown-menu {
            background-color: $color-header;
            border: none;

            .dropdown-first-item {
                font-weight: 500;
            }

            .dropdown-item:hover {
                color: $color-texto-blanco;
                background-color: $color-secundario;
            }
        }
    }

    .navbar-nav .nav-link.show {
        color: $color-texto-blanco;
    }

    /* Página inicio y productos */
    .img-fondo img {
        width: 100%;
        height: 260px;
    }

    .titulo-inicio h1 {
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        margin: -170px 0 140px 0;
        color: #000;
    }
}

// Variables
$color-header: #401639;
$color-secundario: #57184b;
$color-texto: #fff;

@media screen and (max-width: 576px) and (min-width: 320px) {

    /* Header */
    header {
        .navbar a {
            padding: 10px;
        }

        &.sticky-top {
            height: 100%;
        }

        img {
            width: 90px;
        }
    }

    .container {
        background-color: $color-header;
    }

    button.navbar-toggler,
    button.navbar-toggler.collapsed {
        background-color: $color-secundario;
        border-radius: 2px;
        color: $color-secundario;
        margin-left: 15px;
    }

    .navbar-toggler-icon {
        border: none;
        color: $color-texto;
    }

    /* Página inicio y productos */
    .img-fondo img {
        width: 100%;
        height: 260px;
    }

    .titulo-inicio h1 {
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        margin: -170px 0 140px 0;
        color: #000;
    }

    .contenedor {
        .contenedor-items {
            display: grid;
            grid-template-columns: repeat(2, 3fr);
            gap: 5px;
            margin: auto;

            .item {
                width: 40vw;
                margin: 10px;

                img {
                    width: 30vw;
                    margin: 10px 0 10px 15px;
                }
            }
        }
    }

    /* Página Conócenos */
    .cajas {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin-bottom: 50px;
    }

    .caja-nosotros1 {
        width: 85vw;
        margin-bottom: 20px;
    }

    /* Cómo comprar */
    .como-comprar-container {
        .como-comprar-texto {
            font-size: 20px;
        }

        .como-comprar-texto-subtitulos {
            font-size: 18px;
        }
    }

    /* Categoría */
    .categoria label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 70vw;
    }

    .col-8 {
        margin-left: 20px;
    }

    /* Cards de pages2 */
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* Footer */
    .pie-pagina {
        width: 100%;
        display: block;

        .grupo-1 {
            width: 100%;
            display: block;

            .box1 {
                display: block;
                margin-right: 30px;

                h2 {
                    color: $color-texto;
                    font-size: 18px;
                    margin: 25px 0 10px 0;
                }
            }

            .box .figure iframe {
                width: 40%;
                height: 50%;
            }
        }

        .grupo-2 {
            text-align: center;

            p {
                font-size: 17px;
            }
        }
    }

    .caja-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }

    .lista-ayuda li a {
        font-size: 18px;
        margin-right: 25px;
    }
}